@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0b0c0f;

    --heading: #ffffff;
    --sub-heading: #9ca3af;
    --foreground: #cfd1d4;

    --card: #171717;
    --card-foreground: #cfd1d4;

    --popover: #171717;
    --popover-foreground: #cfd1d4;

    --primary: #e90b83;
    --primary-foreground: #ffffff;
    --primary-hover: #c90971;

    --secondary: #3789f1;
    --secondary-foreground: #ffffff;
    --secondary-hover: #1f6fe0;

    --muted: #2a2b2e;
    --muted-foreground: #a1a6ae;
    --muted-hover: #3b3c40;

    --accent: #ab288b;
    --accent-foreground: #ffffff;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #2e2f2f;
    --input: #212121;
    --ring: #e90b83;

    --radius: 0.65rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  background-color: var(--background);
  font-family: var(--font-inter), sans-serif;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  color: var(--heading);
}
